.practice-button {
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 8px 25px;
}

.practice-button-primary {
  color: white;
  border: 1px solid brown;
  background: brown;
}

.practice-button-primary:hover {
  border: 1px solid #ce2121;
  background: #ce2121;
}

a.practice-button {
  text-decoration: none;
}

button.practice-button  {

}
